/*================================== ESTILOS GENERALES ===================================*/
html {
    min-height: 100%;
    position: relative;
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    /* Declaro variables CSS con colores principales */
    --color-theme: #00594c;
    --color-active: #5df2d6;
    --color-back-active: #04957d;
    --color-gradient: linear-gradient(to right, var(--color-theme),var(--color-back-active));
}

body {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
button,.add-button{
    background-color: #00594c;
    color: white;
    border:none !important;
}
button,
a {
    user-select: none;
    -webkit-user-select: none;
}
select,button,input{
    height: 35px;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bold;
}
/*================================== FIN ESTILOS GENERALES ===================================*/

/*================================ ESTILOS HEADER-NAV LISTAS =================================*/
header {
    top: 0;
    width: 100%;
    background: var(--color-gradient);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom:3px solid var(--color-active);
}

nav>ul {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

nav li {
    flex:0 0 auto;
}

nav li a {
    display: block;
    padding: 16px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: var(--color-active);
    cursor: pointer;
}

nav li.current-page a {
    color: var(--color-theme);
    background-color: var(--color-active);
    pointer-events: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
nav li a:hover {
    color: var(--color-theme);
    background-color: var(--color-active);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h1 {
    text-align: center;
    margin: 0;
    color: white;
}

h1>img {
    width: 70px;
    vertical-align: middle;
}
/*============================ FIN ESTILOS HEADER-NAV LISTAS =================================*/

/*================================ ESTILOS CONTENIDO MAIN =================================*/
main {
    margin-top: 10px;
    overflow: auto;
    padding: 16px;
    padding-bottom: 60px;
    height: calc(100% - 120px);
    margin-bottom: 50px;
}
h2 {
    color: var(--color-theme);
    margin: 16px 0;
    text-align: center;
}

h3 {
    color: var(--color-theme);
    margin: 8px 0;
}

main section {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
/*============================ FIN ESTILOS HEADER-NAV LISTAS =================================*/

/*====================================== ESTILOS FOOTER ======================================*/
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    background: var(--color-gradient);
    text-align: center;
    border-top:3px solid var(--color-active);
}

footer p {
    font-size: small;
    color: white;
}
/*================================== FIN ESTILOS FOOTER ======================================*/
