/*================ ESTILOS MAIN ================*/
.description-help{
    margin:0 auto;
    width: 800px;
}
.description-help p{
    margin-top: 5px;
    padding: 10px;
    font-weight: bold;
}
.form-help{
    display: flex;
    flex-direction: column;
    
}
.form-help input{
    margin-bottom: 15px;
}
.container-button-help{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.container-button-help input:last-child{
    margin-left: 5px;
}
textarea{
    padding: 10px;
    border-radius: 10px;
}
/*============== FIN ESTILOS MAIN ==============*/